@import "fonts";
@import "welcome";
@import "navbar";
@import "music";
@import "description";
@import "addCart";
@import "cart";
@import "about";

$background-color: rgb(43, 43, 43);

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background-color: $background-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: lobster;
}

img {
  max-width: 60%;
}
