#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto;
  min-width: 325px;
  max-width: 350px;
  width: 80%;
  color: $text-color;

  h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: 100;
  }

  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
    font-family: Lemonada;
    align-self: flex-end;
  }

  h3 {
    margin-bottom: 50px;
    font-size: 2.4rem;
  }

  h4 {
    margin-top: 40px;
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: $text-color;
    border-radius: 10px;
    background: rgb(153, 99, 0);
    padding: 5px;

    h3 {
      font-size: 1.3rem;
      margin: 10px;
    }
  }
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  width: 100%;
  img {
    width: 50px;
    height: 50px;
  }

  span {
    cursor: pointer;
  }
}

.cartInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  button {
    height: 10px;
    align-self: center;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.5rem;

    margin: 0;
    padding: 0;
  }

  span {
    margin: 0 10px;
  }
}

#btnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.fa-trash {
  color: rgb(105, 105, 105);
  font-size: 24px;
}
